
  h1 {
    font-size: x-large;
    text-align: center;
  }
  h2 {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
  }
  h3 {
    font-size: medium;
    font-weight: normal;
  }  
  h4 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }